<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h3>Hello There!</h3>
  
  <%if @name%>
    <p>My name is <%= @name %></p>
  <%end%>
  
  <%if @visitor%>
    <p>Hello there <%= @visitor %>!</p>
  <%else%>
    <form action='/hello'>
      <label for="name">What's your name?</label><br>
      <input type='text' name="name">
      <input type='submit' value="GO!">
    </form>
  <%end%>
  
  <br>
  <div style='border: 2px solid blue'>
    <!-- <img src='http://bit.ly/1eze8aE'> -->
    <img src='/images/kitty.png'>
  </div>

</body>
</html>