<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Suffragist</title>
</head>
<body>
  <ul class="unstyled" style="list-style-type:none" >
    <% Choices.each do |id,text| %>
    <li>
      <label class="radio">
            <input type="radio" name="vote" value='<%=id%>' id='vote_<%=id%>' />
            <%= text %>
      </label>
    </li>
    <%end%>
  </ul>
  <button type="submit" class="btn btn-primary">Cast this vote!</button>
</body>
</html>